header {
  display: grid;
  height: 293px;
  padding: 0px 50px 0px 50px;
  grid-template-columns: 1fr min-content 1fr;
  /*min-content нигде раньше не упоминался! Я посмотрел в поиске на курсе. 2 упоминаниня -
  в уроке про проектную работу, и в каком то еще, доступеном.
  Я искал на Доке, но там только 1 упоминание этой штуки, мимоходом. Хотелось бы знать,
  что я пишу, а не просто копировать код из рекомендаций к проектной работе :(*/
  align-items: center;
}
.menu {
  display: flex;
  gap: 33px;
  flex-wrap: nowrap;
  list-style: /*none*/ circle;
  /*Я долго мучался с этими кружками, но, похоже, во флексах и гридах
  без псевдоэлементов нельзя изменить тут ничего. Ну можно, но я не понял как)*/
  list-style-position: outside;
  margin-bottom: 2px;
  font-size:18px;
  word-spacing: 0px;
  letter-spacing: 0px;
  /*Попробовал через паддинги кружочки отодвинуть, но вышла фигня. Удалил.
  Видимо тут нужны знания которые мы еще не проходили.*/
}

.logo-black {
  width: 148px;
  height: 105px;
  background: url(../images/logo-black.svg) no-repeat center;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  max-width: 240px;
  max-height: 96px;
  justify-self: end;
  font-size: 18px;
  margin-right: -1px;
  line-height: 24px;
}


.it {
  grid-area: it;
}

.you {
  grid-area: you;
  margin-left: 38px;
}

.necessary {
  grid-area: necessary;
  margin-left: 31px;
}

.inline-title {
  display: block;
  letter-spacing: 30px;
}

.title {
  display: grid;
  width: 100%;
  padding: 165px 50px;
  height: 385px;
  grid-template-rows: repeat(3, 115px);
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  justify-content: left;
  grid-template-areas:
    "it it it . . . ."
    ". . you you you . ."
    ". . . . necessary necessary necessary"
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/cover.jpg);
  min-height: 757px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 180px;
}

.description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-spacing: 19px;
  letter-spacing: 0.02px;
  min-width: 1000px;
  min-height: 51px;
  margin: 0px 50px 47px 50px;
  z-index: 3;
  
}

.bid {
  min-width: 256px;
  min-height: 51px;
  background: none;
  border: 1px solid white;
}

.lots {
  margin: 0px 24px 0px 24px;
}

.title-lots {
  display: block;
  width: 100%;
  flex-wrap: nowrap;
  margin: 182px 0px 27px 40px;
  font-size: 40px;
  min-height: 47px;
  min-width: 121px;
  letter-spacing: 0;
}

.deck {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  position: relative;
  width: 334px;
  height: 596px;
  list-style: none;
  margin-bottom: 28px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  padding: 46px 40px 48px 40px;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  z-index: 2;
}

.card-title {
  margin-top: 2px;
  line-height: 26px;
}

.film-card {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.book-card {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.painting-card {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sheet-cards {
  display: inline-block;
}

.more-information {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  min-width: 1052px;
  min-height: 595px;
  grid-template-columns: 334px auto;
  grid-template-rows: 1fr;
  margin: 118px 24px 0px 24px;
}

.logo-round-black {
  margin: 35px 0px 0px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 2000px;
  width: 240px;
  height: 240px;
}

.white-logo {
  width: 148px;
  height: 114px;
}

.about-the-auction {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 110px;
  margin-left: 25px;
  line-height: 24px;
}

.about-the-auction-logo {
  font-size: 40px;
  align-self: flex-start;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 180px;
  margin: 180px 50px 0px 50px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  list-style-position: outside;
  font-size:18px;
  word-spacing: 0px;
  letter-spacing: 0px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  min-width: 240px;
  min-height: 96px;
  font-size: 18px;
  line-height: 25px;
}

.links-circles-footer{
  display: flex;
  gap: 48px;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style: none;
}

.footer-link-socialnetworks {
  display: flex;
  width: 48px;
  height: 48px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

.crutch-menu {
  display: inline-block;
  padding-right: 0px;
  line-height: 20px;
}

.white-text {
  color: #FFFFFF;
}

.underline {
  border-bottom: 1.3px solid black;
  padding-bottom: 0px;
}

.underline-white {
  border-bottom: 1.3px solid white;
  padding-bottom: 0px;
}

.non-underscores {
  text-decoration: none;
}

.font-bold {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.font-normal {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.font-about-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.transform {
  text-transform: uppercase;
}

.title-font {
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
  position: relative;
  font-size: 100px;
}