.lots {}
.about {}

header {
  display: grid;
  height: 293px;
  padding: 0px 50px 0px 50px;
  grid-template-columns: 1fr min-content 1fr;
  /*min-content нигде раньше не упоминался! Я посмотрел в поиске на курсе. 2 упоминаниня -
  в уроке про проектную работу, и в каком то еще, доступеном.
  Я искал на Доке, но там только 1 упоминание этой штуки, мимоходом. Хотелось бы знать,
  что я пишу, а не просто копировать код из рекомендаций к проектной работе :(*/
  align-items: center;
}
.menu {
  display: flex;
  gap: 33px;
  flex-wrap: nowrap;
  list-style: /*none*/ circle;
  /*Я долго мучался с этими кружками, но, похоже, во флексах и гридах
  без псевдоэлементов нельзя изменить тут ничего. Ну можно, но я не понял как)*/
  list-style-position: outside;
  margin-bottom: 2px;
  font-size:18px;
  word-spacing: 0px;
  letter-spacing: 0px;
  /*Попробовал через паддинги кружочки отодвинуть, но вышла фигня. Удалил.
  Видимо тут нужны знания которые мы еще не проходили.*/
}

.logo-black {
  width: 148px;
  height: 105px;
  background: url(../images/logo-black.svg) no-repeat center;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  max-width: 240px;
  max-height: 96px;
  justify-self: end;
  font-size: 18px;
  margin-right: -1px;
  line-height: 1.34; /*Вообще не знаю что я тут поставил, но работает. Думал пиксели поставил, а потом увидел что px нету. Это относительно чего 1.34?*/
  /*Я не знаю, всегда так в тупую подгоняют
  шрифты к макету? А с сайтами для разных экранов как?
  Хотя не думаю что дизайнер нарисует много макетов
  для разных экранов.
  Ну и тут я заигрался в перфект пиксель*/
}

.cover {
  background: url(../images/cover.jpg);
  min-height: 757px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.it {
  grid-area: it;
}

.you {
  grid-area: you;
  /*text-align: center; Не работает, хотя вроде они блочные.*/
  margin-left: 38px;
}

.necessary {
  grid-area: necessary;
  /*text-align: right; до этого уже пробовал маргины менять, но результата не было почему-то.
  В любом случае я сделал какой то лютый костыль, а не нормальный код. Наверняка
  есть адекватное решение...*/
  margin-left: 31px;
}

.inline-title {
  display: block;
  letter-spacing: 30px;
}

.title {
  display: grid;
  width: 100%;
  padding: 165px 50px;
  height: 385px;
  grid-template-rows: repeat(3, 115px);
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  justify-content: left;
  grid-template-areas:
    "it it it . . . ."
    ". . you you you . ."
    ". . . . necessary necessary necessary"
}

/*.cycle {
  padding-left: Npx; - не работает
}*/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

/*.description {
  display: flex;
  min-width: 1000px;
  min-height: 51px;
  margin: 0 50px 50px 50px;
  z-index: 2;
}*/

.underline {
  border-bottom: 1.3px solid black;
  padding-bottom: 0px;
}

.crutch-menu {
  display: inline-block;
  padding-right: 0px;
  line-height: 20px;
}

.white-text {
  color: #FFFFFF;
}

.non-underscores {
  text-decoration: none;
}

.font-bold {
  font-family: "Raleway", sans-serif;
  font-weight: bold
}

.font-normal {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
  position: relative;
  font-size: 100px;
}